In [1]:
#For Data Wrangling
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import types

#Warning skipping
import warnings
warnings.filterwarnings('ignore')

# For ML Model
from sklearn.metrics import balanced_accuracy_score
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/cafe')

In [3]:
# cafe_df = pd.read_csv('./resources/cafe_data.csv')

In [4]:
# cafe_df.head()

In [5]:
# cafe_df.columns.to_list()

In [6]:
# cafe_df.to_sql(
#     name='cafe_original_data',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'store_ID': types.INTEGER(),
#         'cust_gender': types.INTEGER(),
#         'cust_age': types.INTEGER(),
#         'cust_income': types.INTEGER(),
#         'cust_q1_taste': types.INTEGER(),
#         'cust_q2_price': types.INTEGER(),
#         'cust_q3_calories': types.INTEGER(),
#         'month': types.INTEGER(),
#         'day': types.INTEGER(),
#         'transaction': types.INTEGER(),
#         'food': types.INTEGER(),
#         'drink': types.INTEGER(),
#         'drink_type': types.String(),
#         'drink_size': types.String(),
#         'drink_milk': types.String(),
#         'drink_calories': types.INTEGER(),
#         'drink_price': types.Float(),
#         'food_type': types.String(),
#         'food_calories': types.INTEGER(),
#         'food_price': types.Float(),
#         'total_spend': types.Float(),
#         'comp_med': types.INTEGER(),
#         'comp_big': types.INTEGER(),
#         'comp_ind': types.INTEGER()

#     })

In [7]:
# customer_df = cafe_df[['cust_id',
#  'cust_gender',
#  'cust_age',
#  'cust_income',
#  'cust_q1_taste',
#  'cust_q2_price',
#  'cust_q3_calories']]
# customer_df.head()

In [8]:
# order_df = cafe_df[['cust_id',
#  'store_ID',
#  'month',
#  'day',
#  'transaction',
#  'food',
#  'drink',
#  'drink_type',
#  'drink_size',
#  'drink_milk',
#  'drink_calories',
#  'drink_price',
#  'food_type',
#  'food_calories',
#  'food_price',
#  'total_spend']]
# order_df.head()

In [9]:
# customer_df.dtypes

In [10]:
# order_df.dtypes

In [11]:
# customer_df.to_sql(
#     name='customer_info',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'cust_gender': types.INTEGER(),
#         'cust_age': types.INTEGER(),
#         'cust_income': types.INTEGER(),
#         'cust_q1_taste': types.INTEGER(),
#         'cust_q2_price': types.INTEGER(),
#         'cust_q3_calories': types.INTEGER()
#         })

In [12]:
# order_df.to_sql(
#     name='order_info',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'store_ID': types.INTEGER(),
#         'month': types.INTEGER(),
#         'day': types.INTEGER(),
#         'transaction': types.INTEGER(),
#         'food': types.INTEGER(),
#         'drink': types.INTEGER(),
#         'drink_type': types.String(),
#         'drink_size': types.String(),
#         'drink_milk': types.String(),
#         'drink_calories': types.INTEGER(),
#         'drink_price': types.Float(),
#         'food_type': types.String(),
#         'food_calories': types.INTEGER(),
#         'food_price': types.Float(),
#         'total_spend': types.Float()
#         })

In [13]:
query = """
        select *
        from cafe_original_data
        """
cafe_original_data_df=pd.read_sql(query, con=engine)

In [14]:
cafe_original_data_df.head()

,cust_id,store_ID,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,month,day,...,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend,comp_med,comp_big,comp_ind
0,3923,501,1,26,NaN,4,4,1,4,5,...,None,5,2.05,Grand Slam Cookie,280,2.00,4.05,1,0,1
1,4389,501,0,34,11190.0,1,4,1,1,26,...,None,4,1.75,Rice Krispie Square,240,1.95,3.70,1,0,1
2,20984,501,0,46,91292.0,5,5,1,9,4,...,None,5,2.05,None,0,NaN,2.05,1,0,1
3,6776,501,1,47,89551.0,3,4,2,6,23,...,None,5,2.05,None,0,NaN,2.05,1,0,1
4,16515,501,1,43,64310.0,4,3,2,11,25,...,None,0,NaN,Biscotti,280,2.20,2.20,1,0,1

In [15]:
query = """
        select *
        from customer_info
        """
customer_info_df = pd.read_sql(query, con=engine)

In [16]:
customer_info_df.dropna(inplace=True)
customer_info_df.head()

,cust_id,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories
1,4389,0,34,11190.0,1,4,1
2,20984,0,46,91292.0,5,5,1
3,6776,1,47,89551.0,3,4,2
4,16515,1,43,64310.0,4,3,2
6,22878,1,41,71791.0,5,3,2

In [17]:
X = customer_info_df.drop(columns=['cust_id','cust_q1_taste','cust_q2_price','cust_q3_calories'],axis=1)
y = customer_info_df.drop(X,1)
y = y.drop('cust_id',1)

In [18]:
y.head()

   cust_q1_taste  cust_q2_price  cust_q3_calories
1              1              4                 1
2              5              5                 1
3              3              4                 2
4              4              3                 2
6              5              3                 2

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=25)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Machine Learning

In [21]:
# Neural Network
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
asd = tf.keras.layers.Dense

# First hidden layer
nn.add(asd(input_dim=len(X_train.columns), units=100, activation='relu'))

# Second hidden layer
nn.add(asd(units=100, activation='relu'))

# Output layer
nn.add(asd(units=3, activation = 'linear'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               400
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 303
=================================================================
Total params: 10,803
Trainable params: 10,803
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="msle", optimizer="RMSprop",metrics=["accuracy"])

In [23]:
y_train.shape

(36150, 3)

In [24]:
# Train the model
# y_train = 
nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
1130/1130 [==============================] - 1s 593us/step - loss: 0.1898 - accuracy: 0.4855
Epoch 2/150
1130/1130 [==============================] - 1s 566us/step - loss: 0.1046 - accuracy: 0.5338
Epoch 3/150
1130/1130 [==============================] - 1s 562us/step - loss: 0.1048 - accuracy: 0.5280
Epoch 4/150
1130/1130 [==============================] - 1s 578us/step - loss: 0.1037 - accuracy: 0.5296
Epoch 5/150
1130/1130 [==============================] - 1s 576us/step - loss: 0.1036 - accuracy: 0.5335
Epoch 6/150
1130/1130 [==============================] - 1s 562us/step - loss: 0.1029 - accuracy: 0.5346
Epoch 7/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1041 - accuracy: 0.5336
Epoch 8/150
1130/1130 [==============================] - 1s 561us/step - loss: 0.1040 - accuracy: 0.5358
Epoch 9/150
1130/1130 [==============================] - 1s 555us/step - loss: 0.1040 - accuracy: 0.5245
Epoch 10/150
1130/1130 [==============================] - 1s 565us/step - loss: 0.1034 - accuracy: 0.5360
Epoch 11/150
1130/1130 [==============================] - 1s 570us/step - loss: 0.1041 - accuracy: 0.5363
Epoch 12/150
1130/1130 [==============================] - 1s 571us/step - loss: 0.1030 - accuracy: 0.5402
Epoch 13/150
1130/1130 [==============================] - 1s 566us/step - loss: 0.1033 - accuracy: 0.5438
Epoch 14/150
1130/1130 [==============================] - 1s 563us/step - loss: 0.1041 - accuracy: 0.5389
Epoch 15/150
1130/1130 [==============================] - ETA: 0s - loss: 0.1035 - accuracy: 0.54 - 1s 559us/step - loss: 0.1035 - accuracy: 0.5414
Epoch 16/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1041 - accuracy: 0.5369
Epoch 17/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1031 - accuracy: 0.5357
Epoch 18/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1025 - accuracy: 0.5349
Epoch 19/150
1130/1130 [==============================] - 1s 562us/step - loss: 0.1025 - accuracy: 0.5395
Epoch 20/150
1130/1130 [==============================] - 1s 555us/step - loss: 0.1031 - accuracy: 0.5402
Epoch 21/150
1130/1130 [==============================] - 1s 564us/step - loss: 0.1029 - accuracy: 0.5317
Epoch 22/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1032 - accuracy: 0.5406
Epoch 23/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1030 - accuracy: 0.5447
Epoch 24/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1026 - accuracy: 0.5440
Epoch 25/150
1130/1130 [==============================] - 1s 565us/step - loss: 0.1030 - accuracy: 0.5505
Epoch 26/150
1130/1130 [==============================] - 1s 567us/step - loss: 0.1035 - accuracy: 0.5373
Epoch 27/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1020 - accuracy: 0.5444
Epoch 28/150
1130/1130 [==============================] - 1s 558us/step - loss: 0.1032 - accuracy: 0.5488
Epoch 29/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1029 - accuracy: 0.5465
Epoch 30/150
1130/1130 [==============================] - 1s 563us/step - loss: 0.1035 - accuracy: 0.5454
Epoch 31/150
1130/1130 [==============================] - 1s 563us/step - loss: 0.1026 - accuracy: 0.5538
Epoch 32/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1030 - accuracy: 0.5418
Epoch 33/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1021 - accuracy: 0.5423
Epoch 34/150
1130/1130 [==============================] - 1s 563us/step - loss: 0.1019 - accuracy: 0.5406
Epoch 35/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1026 - accuracy: 0.5407
Epoch 36/150
1130/1130 [==============================] - 1s 558us/step - loss: 0.1024 - accuracy: 0.5395
Epoch 37/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1031 - accuracy: 0.5348
Epoch 38/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1030 - accuracy: 0.5343
Epoch 39/150
1130/1130 [==============================] - 1s 565us/step - loss: 0.1029 - accuracy: 0.5329
Epoch 40/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1025 - accuracy: 0.5405
Epoch 41/150
1130/1130 [==============================] - 1s 562us/step - loss: 0.1024 - accuracy: 0.5341
Epoch 42/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1030 - accuracy: 0.5388
Epoch 43/150
1130/1130 [==============================] - 1s 564us/step - loss: 0.1028 - accuracy: 0.5458
Epoch 44/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1032 - accuracy: 0.5432
Epoch 45/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1024 - accuracy: 0.5267
Epoch 46/150
1130/1130 [==============================] - 1s 555us/step - loss: 0.1023 - accuracy: 0.5424
Epoch 47/150
1130/1130 [==============================] - 1s 580us/step - loss: 0.1018 - accuracy: 0.5426
Epoch 48/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1033 - accuracy: 0.5441
Epoch 49/150
1130/1130 [==============================] - 1s 562us/step - loss: 0.1011 - accuracy: 0.5433
Epoch 50/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1029 - accuracy: 0.5368
Epoch 51/150
1130/1130 [==============================] - 1s 567us/step - loss: 0.1022 - accuracy: 0.5450
Epoch 52/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1023 - accuracy: 0.5379
Epoch 53/150
1130/1130 [==============================] - 1s 569us/step - loss: 0.1021 - accuracy: 0.5397
Epoch 54/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1025 - accuracy: 0.5440
Epoch 55/150
1130/1130 [==============================] - 1s 557us/step - loss: 0.1026 - accuracy: 0.5371
Epoch 56/150
1130/1130 [==============================] - 1s 555us/step - loss: 0.1022 - accuracy: 0.5416
Epoch 57/150
1130/1130 [==============================] - 1s 568us/step - loss: 0.1026 - accuracy: 0.5466
Epoch 58/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1033 - accuracy: 0.5374
Epoch 59/150
1130/1130 [==============================] - 1s 563us/step - loss: 0.1034 - accuracy: 0.5388
Epoch 60/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1025 - accuracy: 0.5500
Epoch 61/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1024 - accuracy: 0.5329
Epoch 62/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1026 - accuracy: 0.5449
Epoch 63/150
1130/1130 [==============================] - 1s 570us/step - loss: 0.1022 - accuracy: 0.5403
Epoch 64/150
1130/1130 [==============================] - 1s 556us/step - loss: 0.1028 - accuracy: 0.5413
Epoch 65/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1023 - accuracy: 0.5423
Epoch 66/150
1130/1130 [==============================] - 1s 571us/step - loss: 0.1023 - accuracy: 0.5378
Epoch 67/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1024 - accuracy: 0.5392
Epoch 68/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1025 - accuracy: 0.5399
Epoch 69/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1013 - accuracy: 0.5463
Epoch 70/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1021 - accuracy: 0.5348
Epoch 71/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1035 - accuracy: 0.5398
Epoch 72/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1032 - accuracy: 0.5371
Epoch 73/150
1130/1130 [==============================] - 1s 562us/step - loss: 0.1022 - accuracy: 0.5509
Epoch 74/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1014 - accuracy: 0.5396
Epoch 75/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1026 - accuracy: 0.5447
Epoch 76/150
1130/1130 [==============================] - 1s 559us/step - loss: 0.1021 - accuracy: 0.5439
Epoch 77/150
1130/1130 [==============================] - 1s 558us/step - loss: 0.1022 - accuracy: 0.5414

Epoch 78/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1025 - accuracy: 0.5437
Epoch 79/150
1130/1130 [==============================] - 1s 662us/step - loss: 0.1019 - accuracy: 0.5425
Epoch 80/150
1130/1130 [==============================] - 1s 614us/step - loss: 0.1025 - accuracy: 0.5417
Epoch 81/150
1130/1130 [==============================] - 1s 595us/step - loss: 0.1024 - accuracy: 0.5281
Epoch 82/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1017 - accuracy: 0.5366
Epoch 83/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1019 - accuracy: 0.5344
Epoch 84/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1023 - accuracy: 0.5434
Epoch 85/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1020 - accuracy: 0.5343
Epoch 86/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1026 - accuracy: 0.5338
Epoch 87/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1020 - accuracy: 0.5358
Epoch 88/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1020 - accuracy: 0.5411
Epoch 89/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1022 - accuracy: 0.5417
Epoch 90/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1016 - accuracy: 0.5379
Epoch 91/150
1130/1130 [==============================] - 1s 547us/step - loss: 0.1026 - accuracy: 0.5383
Epoch 92/150
1130/1130 [==============================] - 1s 560us/step - loss: 0.1019 - accuracy: 0.5282
Epoch 93/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1025 - accuracy: 0.5332
Epoch 94/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1016 - accuracy: 0.5288
Epoch 95/150
1130/1130 [==============================] - 1s 570us/step - loss: 0.1022 - accuracy: 0.5297
Epoch 96/150
1130/1130 [==============================] - 1s 548us/step - loss: 0.1018 - accuracy: 0.5343
Epoch 97/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1028 - accuracy: 0.5403
Epoch 98/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1029 - accuracy: 0.5434
Epoch 99/150
1130/1130 [==============================] - 1s 548us/step - loss: 0.1015 - accuracy: 0.5385
Epoch 100/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1017 - accuracy: 0.5358
Epoch 101/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1032 - accuracy: 0.5381
Epoch 102/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1019 - accuracy: 0.5381
Epoch 103/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1024 - accuracy: 0.5336
Epoch 104/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1025 - accuracy: 0.5278
Epoch 105/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1019 - accuracy: 0.5302
Epoch 106/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1022 - accuracy: 0.5353
Epoch 107/150
1130/1130 [==============================] - 1s 563us/step - loss: 0.1022 - accuracy: 0.5293
Epoch 108/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1025 - accuracy: 0.5249
Epoch 109/150
1130/1130 [==============================] - 1s 548us/step - loss: 0.1025 - accuracy: 0.5352
Epoch 110/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1020 - accuracy: 0.5307
Epoch 111/150
1130/1130 [==============================] - 1s 565us/step - loss: 0.1015 - accuracy: 0.5296
Epoch 112/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1023 - accuracy: 0.5207
Epoch 113/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1024 - accuracy: 0.5296
Epoch 114/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1022 - accuracy: 0.5299
Epoch 115/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1027 - accuracy: 0.5381
Epoch 116/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1021 - accuracy: 0.5330
Epoch 117/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1023 - accuracy: 0.5282
Epoch 118/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1021 - accuracy: 0.5339
Epoch 119/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1016 - accuracy: 0.5352
Epoch 120/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1025 - accuracy: 0.5211
Epoch 121/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1020 - accuracy: 0.5434
Epoch 122/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1023 - accuracy: 0.5275
Epoch 123/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1023 - accuracy: 0.5356
Epoch 124/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1029 - accuracy: 0.5278
Epoch 125/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1023 - accuracy: 0.5221
Epoch 126/150
1130/1130 [==============================] - 1s 567us/step - loss: 0.1021 - accuracy: 0.5352
Epoch 127/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1025 - accuracy: 0.5424
Epoch 128/150
1130/1130 [==============================] - 1s 548us/step - loss: 0.1023 - accuracy: 0.5286
Epoch 129/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1023 - accuracy: 0.5322
Epoch 130/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1016 - accuracy: 0.5319
Epoch 131/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1020 - accuracy: 0.5358
Epoch 132/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1016 - accuracy: 0.5314
Epoch 133/150
1130/1130 [==============================] - 1s 547us/step - loss: 0.1015 - accuracy: 0.5348
Epoch 134/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1025 - accuracy: 0.5332
Epoch 135/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1022 - accuracy: 0.5231
Epoch 136/150
1130/1130 [==============================] - 1s 554us/step - loss: 0.1015 - accuracy: 0.5289
Epoch 137/150
1130/1130 [==============================] - 1s 553us/step - loss: 0.1027 - accuracy: 0.5303
Epoch 138/150
1130/1130 [==============================] - 1s 548us/step - loss: 0.1022 - accuracy: 0.5314
Epoch 139/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1024 - accuracy: 0.5189
Epoch 140/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1023 - accuracy: 0.5407
Epoch 141/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1025 - accuracy: 0.5324
Epoch 142/150
1130/1130 [==============================] - 1s 569us/step - loss: 0.1018 - accuracy: 0.5302
Epoch 143/150
1130/1130 [==============================] - 1s 552us/step - loss: 0.1015 - accuracy: 0.5209
Epoch 144/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1016 - accuracy: 0.5389
Epoch 145/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1020 - accuracy: 0.5329
Epoch 146/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1011 - accuracy: 0.5313
Epoch 147/150
1130/1130 [==============================] - 1s 549us/step - loss: 0.1016 - accuracy: 0.5381
Epoch 148/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1018 - accuracy: 0.5335
Epoch 149/150
1130/1130 [==============================] - 1s 550us/step - loss: 0.1022 - accuracy: 0.5296
Epoch 150/150
1130/1130 [==============================] - 1s 551us/step - loss: 0.1026 - accuracy: 0.5246

## Forest and Ensemble Regression - Q1

In [25]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import warnings
warnings.filterwarnings('ignore')
from imblearn.ensemble import BalancedRandomForestClassifier

In [26]:
y = customer_info_df['cust_q1_taste']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify=y)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
rf_model = BalancedRandomForestClassifier(n_estimators = 100, random_state=1)

rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model

BalancedRandomForestClassifier(random_state=1)

In [30]:
# Calculated the balanced accuracy score
predictions = rf_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, predictions)

0.7522279356199324

In [31]:
# List the features sorted in descending order by feature importance
importances = sorted(zip(rf_model.feature_importances_,X.columns), reverse=True)
importances

[(0.9011704100132687, 'cust_income'),
 (0.09729345884022617, 'cust_age'),
 (0.0015361311465050054, 'cust_gender')]

In [32]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators = 100, random_state=1)

ee_model = ee_model.fit(X_train_scaled, y_train)
ee_model

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [33]:
# Calculated the balanced accuracy score
ee_pred = ee_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, ee_pred)

0.2239094771456754

## Forest and Ensemble Regression - Q2

In [34]:
y = customer_info_df['cust_q2_price']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify=y)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
rf_model = BalancedRandomForestClassifier(n_estimators = 100, random_state=1)

rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model

BalancedRandomForestClassifier(random_state=1)

In [38]:
# Calculated the balanced accuracy score
predictions = rf_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, predictions)

0.7054847344729869

In [39]:
# List the features sorted in descending order by feature importance
importances = sorted(zip(rf_model.feature_importances_,X.columns), reverse=True)
importances

[(0.8699089803209911, 'cust_income'),
 (0.12802231771206887, 'cust_age'),
 (0.002068701966940077, 'cust_gender')]

In [40]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators = 100, random_state=1)

ee_model = ee_model.fit(X_train_scaled, y_train)
ee_model

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [41]:
# Calculated the balanced accuracy score
ee_pred = ee_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, ee_pred)

0.23096407549680925

## Forest and Ensemble Regression - Q3

In [42]:
y = customer_info_df['cust_q3_calories']

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify=y)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
rf_model = BalancedRandomForestClassifier(n_estimators = 100, random_state=1)

rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model

BalancedRandomForestClassifier(random_state=1)

In [46]:
# Calculated the balanced accuracy score
predictions = rf_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, predictions)

0.8527212359216219

In [47]:
# List the features sorted in descending order by feature importance
importances = sorted(zip(rf_model.feature_importances_,X.columns), reverse=True)
importances

[(0.8816995727778354, 'cust_income'),
 (0.11590566581368099, 'cust_age'),
 (0.0023947614084836844, 'cust_gender')]

In [48]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators = 100, random_state=1)

ee_model = ee_model.fit(X_train_scaled, y_train)
ee_model

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [49]:
# Calculated the balanced accuracy score
ee_pred = ee_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, ee_pred)

0.3211680724098339