In [1]:
#For Data Wrangling
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import types

#Warning skipping
import warnings
warnings.filterwarnings('ignore')

# For ML Model
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/cafe')

In [3]:
# cafe_df = pd.read_csv('./resources/cafe_data.csv')

In [4]:
# cafe_df.head()

In [5]:
# cafe_df.columns.to_list()

In [6]:
# cafe_df.to_sql(
#     name='cafe_original_data',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'store_ID': types.INTEGER(),
#         'cust_gender': types.INTEGER(),
#         'cust_age': types.INTEGER(),
#         'cust_income': types.INTEGER(),
#         'cust_q1_taste': types.INTEGER(),
#         'cust_q2_price': types.INTEGER(),
#         'cust_q3_calories': types.INTEGER(),
#         'month': types.INTEGER(),
#         'day': types.INTEGER(),
#         'transaction': types.INTEGER(),
#         'food': types.INTEGER(),
#         'drink': types.INTEGER(),
#         'drink_type': types.String(),
#         'drink_size': types.String(),
#         'drink_milk': types.String(),
#         'drink_calories': types.INTEGER(),
#         'drink_price': types.Float(),
#         'food_type': types.String(),
#         'food_calories': types.INTEGER(),
#         'food_price': types.Float(),
#         'total_spend': types.Float(),
#         'comp_med': types.INTEGER(),
#         'comp_big': types.INTEGER(),
#         'comp_ind': types.INTEGER()

#     })

In [7]:
# customer_df = cafe_df[['cust_id',
#  'cust_gender',
#  'cust_age',
#  'cust_income',
#  'cust_q1_taste',
#  'cust_q2_price',
#  'cust_q3_calories']]
# customer_df.head()

In [8]:
# order_df = cafe_df[['cust_id',
#  'store_ID',
#  'month',
#  'day',
#  'transaction',
#  'food',
#  'drink',
#  'drink_type',
#  'drink_size',
#  'drink_milk',
#  'drink_calories',
#  'drink_price',
#  'food_type',
#  'food_calories',
#  'food_price',
#  'total_spend']]
# order_df.head()

In [9]:
# customer_df.dtypes

In [10]:
# order_df.dtypes

In [11]:
# customer_df.to_sql(
#     name='customer_info',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'cust_gender': types.INTEGER(),
#         'cust_age': types.INTEGER(),
#         'cust_income': types.INTEGER(),
#         'cust_q1_taste': types.INTEGER(),
#         'cust_q2_price': types.INTEGER(),
#         'cust_q3_calories': types.INTEGER()
#         })

In [12]:
# order_df.to_sql(
#     name='order_info',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'store_ID': types.INTEGER(),
#         'month': types.INTEGER(),
#         'day': types.INTEGER(),
#         'transaction': types.INTEGER(),
#         'food': types.INTEGER(),
#         'drink': types.INTEGER(),
#         'drink_type': types.String(),
#         'drink_size': types.String(),
#         'drink_milk': types.String(),
#         'drink_calories': types.INTEGER(),
#         'drink_price': types.Float(),
#         'food_type': types.String(),
#         'food_calories': types.INTEGER(),
#         'food_price': types.Float(),
#         'total_spend': types.Float()
#         })

In [13]:
query = """
        select *
        from cafe_original_data
        """
cafe_original_data_df=pd.read_sql(query, con=engine)

In [14]:
cafe_original_data_df.head()

,cust_id,store_ID,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,month,day,...,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend,comp_med,comp_big,comp_ind
0,3923,501,1,26,NaN,4,4,1,4,5,...,None,5,2.05,Grand Slam Cookie,280,2.00,4.05,1,0,1
1,4389,501,0,34,11190.0,1,4,1,1,26,...,None,4,1.75,Rice Krispie Square,240,1.95,3.70,1,0,1
2,20984,501,0,46,91292.0,5,5,1,9,4,...,None,5,2.05,None,0,NaN,2.05,1,0,1
3,6776,501,1,47,89551.0,3,4,2,6,23,...,None,5,2.05,None,0,NaN,2.05,1,0,1
4,16515,501,1,43,64310.0,4,3,2,11,25,...,None,0,NaN,Biscotti,280,2.20,2.20,1,0,1

In [15]:
query = """
        select *
        from customer_info
        """
customer_info_df = pd.read_sql(query, con=engine)

In [16]:
customer_info_df.head()

,cust_id,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories
0,3923,1,26,NaN,4,4,1
1,4389,0,34,11190.0,1,4,1
2,20984,0,46,91292.0,5,5,1
3,6776,1,47,89551.0,3,4,2
4,16515,1,43,64310.0,4,3,2

In [17]:
query = """
        select *
        from order_info
        """
order_info_df=pd.read_sql(query, con=engine)
order_info_df.head()

,cust_id,store_ID,month,day,transaction,food,drink,drink_type,drink_size,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend
0,3923,501,4,5,6705,1,1,Drip Coffee,Medium,None,5,2.05,Grand Slam Cookie,280,2.00,4.05
1,4389,501,1,26,1627,1,1,Drip Coffee,Small,None,4,1.75,Rice Krispie Square,240,1.95,3.70
2,20984,501,9,4,16568,0,1,Drip Coffee,Medium,None,5,2.05,None,0,NaN,2.05
3,6776,501,6,23,11070,0,1,Drip Coffee,Medium,None,5,2.05,None,0,NaN,2.05
4,16515,501,11,25,21285,1,0,None,None,None,0,NaN,Biscotti,280,2.20,2.20

In [18]:
food_order_only_df = order_info_df.dropna(axis=0,subset=['food_type'])
food_order_only_df.head()

,cust_id,store_ID,month,day,transaction,food,drink,drink_type,drink_size,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend
0,3923,501,4,5,6705,1,1,Drip Coffee,Medium,None,5,2.05,Grand Slam Cookie,280,2.00,4.05
1,4389,501,1,26,1627,1,1,Drip Coffee,Small,None,4,1.75,Rice Krispie Square,240,1.95,3.70
4,16515,501,11,25,21285,1,0,None,None,None,0,NaN,Biscotti,280,2.20,2.20
8,27892,501,5,1,8154,1,1,Drip Coffee,Medium,None,5,2.05,Chunky Chocolate Cookie,280,2.00,4.05
12,8849,501,5,18,9406,1,1,Drip Coffee,Medium,None,5,2.05,Banana Chocolate Muffin,190,1.90,3.95

In [19]:
food_order_only_df.shape

(13367, 16)

In [20]:
merged_food_df = food_order_only_df.join(cafe_original_data_df, how = 'left', lsuffix = '_F_Only', rsuffix = '_Orig')
merged_food_df.head()

,cust_id_F_Only,store_ID_F_Only,month_F_Only,day_F_Only,transaction_F_Only,food_F_Only,drink_F_Only,drink_type_F_Only,drink_size_F_Only,drink_milk_F_Only,...,drink_milk_Orig,drink_calories_Orig,drink_price_Orig,food_type_Orig,food_calories_Orig,food_price_Orig,total_spend_Orig,comp_med,comp_big,comp_ind
0,3923,501,4,5,6705,1,1,Drip Coffee,Medium,None,...,None,5,2.05,Grand Slam Cookie,280,2.00,4.05,1,0,1
1,4389,501,1,26,1627,1,1,Drip Coffee,Small,None,...,None,4,1.75,Rice Krispie Square,240,1.95,3.70,1,0,1
4,16515,501,11,25,21285,1,0,None,None,None,...,None,0,NaN,Biscotti,280,2.20,2.20,1,0,1
8,27892,501,5,1,8154,1,1,Drip Coffee,Medium,None,...,None,5,2.05,Chunky Chocolate Cookie,280,2.00,4.05,1,0,1
12,8849,501,5,18,9406,1,1,Drip Coffee,Medium,None,...,None,5,2.05,Banana Chocolate Muffin,190,1.90,3.95,1,0,1

In [21]:
# dropping drink columns
merged_food_df.drop(list(merged_food_df.filter(regex = 'drink')), axis = 1, inplace = True)
merged_food_df.dtypes

cust_id_F_Only            int64
store_ID_F_Only           int64
month_F_Only              int64
day_F_Only                int64
transaction_F_Only        int64
food_F_Only               int64
food_type_F_Only         object
food_calories_F_Only      int64
food_price_F_Only       float64
total_spend_F_Only      float64
cust_id_Orig              int64
store_ID_Orig             int64
cust_gender               int64
cust_age                  int64
cust_income             float64
cust_q1_taste             int64
cust_q2_price             int64
cust_q3_calories          int64
month_Orig                int64
day_Orig                  int64
transaction_Orig          int64
food_Orig                 int64
food_type_Orig           object
food_calories_Orig        int64
food_price_Orig         float64
total_spend_Orig        float64
comp_med                  int64
comp_big                  int64
comp_ind                  int64
dtype: object

In [22]:
merged_food_df.columns

Index(['cust_id_F_Only', 'store_ID_F_Only', 'month_F_Only', 'day_F_Only',
       'transaction_F_Only', 'food_F_Only', 'food_type_F_Only',
       'food_calories_F_Only', 'food_price_F_Only', 'total_spend_F_Only',
       'cust_id_Orig', 'store_ID_Orig', 'cust_gender', 'cust_age',
       'cust_income', 'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories',
       'month_Orig', 'day_Orig', 'transaction_Orig', 'food_Orig',
       'food_type_Orig', 'food_calories_Orig', 'food_price_Orig',
       'total_spend_Orig', 'comp_med', 'comp_big', 'comp_ind'],
      dtype='object')

In [23]:
#dropping duplicate columns and unneeded features
co_list = ['month_Orig', 'day_Orig', 'transaction_Orig', 'food_Orig',
       'food_type_Orig', 'food_calories_Orig', 'food_price_Orig',
       'total_spend_Orig','cust_id_Orig', 'food_F_Only','cust_id_F_Only','total_spend_F_Only','transaction_F_Only','store_ID_Orig']

merged_food_df.drop(axis=1,columns=co_list, inplace=True)
merged_food_df.columns

Index(['store_ID_F_Only', 'month_F_Only', 'day_F_Only', 'food_type_F_Only',
       'food_calories_F_Only', 'food_price_F_Only', 'cust_gender', 'cust_age',
       'cust_income', 'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories',
       'comp_med', 'comp_big', 'comp_ind'],
      dtype='object')

# Machine Learning

## Preprocessing

In [24]:
merged_food_df.dtypes

store_ID_F_Only           int64
month_F_Only              int64
day_F_Only                int64
food_type_F_Only         object
food_calories_F_Only      int64
food_price_F_Only       float64
cust_gender               int64
cust_age                  int64
cust_income             float64
cust_q1_taste             int64
cust_q2_price             int64
cust_q3_calories          int64
comp_med                  int64
comp_big                  int64
comp_ind                  int64
dtype: object

In [25]:
merged_food_df["food_type_F_Only"].unique()

array(['Grand Slam Cookie', 'Rice Krispie Square', 'Biscotti',
       'Chunky Chocolate Cookie', 'Banana Chocolate Muffin', 'Cupcake',
       'Blueberry Scone', 'Croissant', 'Breakfast Sandwich',
       'Iced Carrot Cake', 'Naniamo Bar', 'Maple Scone',
       'Bagel and Cream Cheese'], dtype=object)

In [26]:
# Food Types dictionary
food_num = {
    'Grand Slam Cookie':1,
    'Rice Krispie Square':2,
    'Biscotti':3,
    'Chunky Chocolate Cookie':4,
    'Banana Chocolate Muffin':5,
    'Cupcake':6,
    'Blueberry Scone':7,
    'Croissant':8, 
    'Breakfast Sandwich':9,
    'Iced Carrot Cake':10,
    'Naniamo Bar':11,
    'Maple Scone':12,
    'Bagel and Cream Cheese':13
}
# Foods' name encoded using the dictionary values
merged_food_df["food_type"] = merged_food_df["food_type_F_Only"].apply(lambda x: food_num[x])
merged_food_df = merged_food_df.drop(["food_type_F_Only"], axis=1)
merged_food_df.head()

,store_ID_F_Only,month_F_Only,day_F_Only,food_calories_F_Only,food_price_F_Only,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,comp_med,comp_big,comp_ind,food_type
0,501,4,5,280,2.00,1,26,NaN,4,4,1,1,0,1,1
1,501,1,26,240,1.95,0,34,11190.0,1,4,1,1,0,1,2
4,501,11,25,280,2.20,1,43,64310.0,4,3,2,1,0,1,3
8,501,5,1,280,2.00,0,29,NaN,5,3,1,1,0,1,4
12,501,5,18,190,1.90,1,39,51020.0,1,3,1,1,0,1,5

In [27]:
merged_food_df.columns

Index(['store_ID_F_Only', 'month_F_Only', 'day_F_Only', 'food_calories_F_Only',
       'food_price_F_Only', 'cust_gender', 'cust_age', 'cust_income',
       'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories', 'comp_med',
       'comp_big', 'comp_ind', 'food_type'],
      dtype='object')

In [28]:
# rewriting columns for easy writing
merged_food_df.columns = ['store_ID', 'month', 'day', 'food_calories','food_price', 'cust_gender',
                          'cust_age', 'cust_income', 'cust_q1_taste', 'cust_q2_price', 
                          'cust_q3_calories', 'comp_med','comp_big', 'comp_ind', 'food_type']

In [29]:
#Dropping NA columns

merged_food_df = merged_food_df.dropna()

In [30]:
#Splitting for Feature and targets
X = merged_food_df.drop('food_type',1)
y = merged_food_df[['food_type']]

In [31]:
#Spliiting for training and testing
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify=y)

In [32]:
# Random Forest
rf_model = BalancedRandomForestClassifier(n_estimators = 100, random_state=1)

rf_model = rf_model.fit(X_train, y_train)
rf_model

BalancedRandomForestClassifier(random_state=1)

In [33]:
# Calculated the balanced accuracy score
predictions = rf_model.predict(X_test)
balanced_accuracy_score(y_test, predictions)

0.7629562796852603

In [34]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.53      0.50      0.97      0.51      0.69      0.46       215
          2       1.00      1.00      1.00      1.00      1.00      1.00       166
          3       1.00      1.00      1.00      1.00      1.00      1.00       346
          4       0.43      0.46      0.96      0.45      0.67      0.42       175
          5       1.00      1.00      1.00      1.00      1.00      1.00       209
          6       0.57      0.54      0.96      0.55      0.72      0.49       244
          7       0.76      0.54      0.97      0.63      0.73      0.50       415
          8       1.00      1.00      1.00      1.00      1.00      1.00       192
          9       1.00      1.00      1.00      1.00      1.00      1.00       262
         10       0.46      0.49      0.96      0.47      0.68      0.44       195
         11       1.00      1.00      1.00      1.00      1.00      1.00        84
         12       0.20      0.39      0.93      0.26      0.60      0.35       120
         13       1.00      1.00      1.00      1.00      1.00      1.00       282

avg / total       0.79      0.77      0.98      0.77      0.86      0.75      2905

In [35]:
# List the features sorted in descending order by feature importance
importances = sorted(zip(rf_model.feature_importances_,X.columns), reverse=True)
importances

[(0.34071866742759105, 'food_price'),
 (0.30926947387835546, 'food_calories'),
 (0.06500811519598379, 'cust_income'),
 (0.053422977037470905, 'cust_age'),
 (0.04949446362530255, 'day'),
 (0.04166945316269472, 'month'),
 (0.0280417949609323, 'cust_q3_calories'),
 (0.027478394914661135, 'store_ID'),
 (0.02689781686261727, 'cust_q1_taste'),
 (0.025355499895384038, 'cust_q2_price'),
 (0.01293561602339347, 'cust_gender'),
 (0.007444411246270453, 'comp_med'),
 (0.00656721927631304, 'comp_big'),
 (0.005696096493029893, 'comp_ind')]

In [36]:
#Easy Ensemble
ee_model = EasyEnsembleClassifier(n_estimators = 100, random_state=1)

ee_model = ee_model.fit(X_train, y_train)
ee_model

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [37]:
# Calculated the balanced accuracy score
ee_pred = ee_model.predict(X_test)
balanced_accuracy_score(y_test, ee_pred)

0.46153846153846156

In [38]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, ee_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.00      0.00      1.00      0.00      0.00      0.00       215
          2       1.00      1.00      1.00      1.00      1.00      1.00       166
          3       0.00      0.00      1.00      0.00      0.00      0.00       346
          4       0.00      0.00      1.00      0.00      0.00      0.00       175
          5       1.00      1.00      1.00      1.00      1.00      1.00       209
          6       0.00      0.00      1.00      0.00      0.00      0.00       244
          7       0.00      0.00      1.00      0.00      0.00      0.00       415
          8       0.00      0.00      1.00      0.00      0.00      0.00       192
          9       1.00      1.00      1.00      1.00      1.00      1.00       262
         10       0.00      0.00      1.00      0.00      0.00      0.00       195
         11       0.08      1.00      0.65      0.15      0.81      0.68        84
         12       0.13      1.00      0.71      0.23      0.84      0.73       120
         13       1.00      1.00      1.00      1.00      1.00      1.00       282

avg / total       0.32      0.39      0.98      0.33      0.37      0.37      2905

In [39]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [40]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [41]:
y_pred = classifier.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.3370051635111876

In [43]:
# Neural Network
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

#adding more neurons for analyzing
num_input = len(X_train) 
h_layer_1 = 100
h_layer_2 = 40

nn = tf.keras.models.Sequential()
asd = tf.keras.layers.Dense

# First hidden layer
nn.add(asd(input_dim=num_input, units=h_layer_1, activation='relu'))

# Second hidden layer
nn.add(asd(units=h_layer_2, activation='relu'))

# Output layer
nn.add(asd(units=1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               871400
_________________________________________________________________
dense_1 (Dense)              (None, 40)                4040
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 41
=================================================================
Total params: 875,481
Trainable params: 875,481
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam",metrics=["accuracy"])

In [45]:
y_train = np.array(y_train)

In [46]:
y_train = np.reshape(y_train,-1)

In [48]:
a = X_train.shape
b = y_train.shape
print(a)
print(b)

(8713, 14)
(8713,)

In [47]:
# Train the model
# y_train = 
nn.fit(X_train, y_train, epochs=150)

Epoch 1/150

ValueError: in user code:

    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\training.py:805 train_function  *
        return step_function(self, iterator)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\training.py:795 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:1259 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2730 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:3417 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\training.py:788 run_step  **
        outputs = model.train_step(data)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\training.py:754 train_step
        y_pred = self(x, training=True)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\base_layer.py:998 __call__
        input_spec.assert_input_compatibility(self.input_spec, inputs, self.name)
    C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\input_spec.py:259 assert_input_compatibility
        ' but received input with shape ' + display_shape(x.shape))

    ValueError: Input 0 of layer sequential is incompatible with the layer: expected axis -1 of input shape to have value 8713 but received input with shape (None, 14)