In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
cafe_data = pd.read_csv('./cafe_data.csv')

In [3]:
cafe_data['Occur'] = cafe_data.groupby(['cust_id'])['store_ID'].transform('size')
cafe_data.sort_values(by = ['Occur'],inplace=True)

In [12]:
cafe_data.head()

,cust_id,store_ID,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,month,day,...,drink_calories,drink_price,food_type,food_calories,food_price,total_spend,comp_med,comp_big,comp_ind,Occur
0,3923,501,1,26.0,NaN,4,4,1,4,5,...,5,2.05,Grand Slam Cookie,280,2.00,4.05,1,0,1,1
32517,9561,540,1,53.0,134682.0,3,2,1,1,19,...,4,1.75,NaN,0,NaN,1.75,1,0,0,1
5157,15994,501,0,35.0,46158.0,5,3,3,6,11,...,0,NaN,Grand Slam Cookie,280,2.00,2.00,1,0,1,1
32523,27363,540,0,36.0,60183.0,4,3,1,12,12,...,1,1.75,Breakfast Sandwich,351,3.95,5.70,1,0,0,1
5155,31676,501,0,34.1,40728.0,2,5,5,6,18,...,5,2.05,Blueberry Scone,270,2.05,4.10,1,0,1,1

In [4]:
cust_pref_df = cafe_data[['cust_id','cust_gender', 'cust_age', 'cust_income',
       'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories','Occur']].copy()
cust_pref_df.dropna(inplace=True)

In [5]:
cust_pref_df.drop_duplicates(inplace=True)

In [7]:
cafe_data.shape

(54741, 26)

In [16]:
new_df = cafe_data.loc[cafe_data['Occur']>1]
new_df.columns

Index(['cust_id', 'store_ID', 'cust_gender', 'cust_age', 'cust_income',
       'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories', 'month', 'day',
       'transaction', 'food', 'drink', 'drink_type', 'drink_size',
       'drink_milk', 'drink_calories', 'drink_price', 'food_type',
       'food_calories', 'food_price', 'total_spend', 'comp_med', 'comp_big',
       'comp_ind', 'Occur'],
      dtype='object')

In [17]:
new_df.drop(columns = ['store_ID', 'cust_gender', 'cust_age', 'cust_income',
       'month', 'day',
       'transaction', 'food', 'drink', 'drink_type', 'drink_size',
       'drink_milk', 'drink_calories', 'drink_price', 'food_type',
       'food_calories', 'food_price', 'total_spend', 'comp_med', 'comp_big',
       'comp_ind'], axis=1, inplace = True)

C:\Users\Sami_\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [37]:
new_new_df = new_df.loc[new_df['Occur'] ==6].sort_values('cust_id')
new_new_df

       cust_id  cust_q1_taste  cust_q2_price  cust_q3_calories  Occur
9237        53              4              4                 4      6
11530       53              4              4                 4      6
9511        53              4              4                 4      6
9984        53              4              4                 4      6
8233        53              4              4                 4      6
...        ...            ...            ...               ...    ...
46153    35594              3              5                 1      6
47238    35594              3              5                 1      6
43132    35594              3              5                 1      6
45241    35594              3              5                 1      6
47175    35594              3              5                 1      6

[5946 rows x 5 columns]

## TASTE

In [6]:
X = cust_pref_df[['cust_gender', 'cust_age', 'cust_income']].copy()
y = cust_pref_df.cust_q1_taste.values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=99,stratify=y,test_size=0.2)

In [8]:
scaler = StandardScaler()
scaler.fit(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = scaler.transform(X_train)

In [9]:
#Kneighbor classifier
model = KNeighborsClassifier(n_neighbors=5)

In [10]:
model.fit(X_train_scaled,y_train )

KNeighborsClassifier()

In [11]:
predic = model.predict(X_test_scaled)

In [12]:
accuracy_score(y_test,predic)

0.2586683031604787

## PRICE

In [13]:
X = cust_pref_df[['cust_gender', 'cust_age', 'cust_income']].copy()
y = cust_pref_df.cust_q2_price.values

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=99,stratify=y,test_size=0.2)

In [15]:
scaler = StandardScaler()
scaler.fit(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = scaler.transform(X_train)

In [16]:
#Kneighbor classifier
model = KNeighborsClassifier(n_neighbors=5)

In [17]:
model.fit(X_train_scaled,y_train )

KNeighborsClassifier()

In [18]:
predict = model.predict(X_test_scaled)

In [19]:
accuracy_score(y_test,predict)

0.37925744093280145

## CALORIES

In [20]:
X = cust_pref_df[['cust_gender', 'cust_age', 'cust_income']].copy()
y = cust_pref_df.cust_q3_calories.values

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=99,stratify=y,test_size=0.2)

In [22]:
scaler = StandardScaler()
scaler.fit(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = scaler.transform(X_train)

In [23]:
#Kneighbor classifier
model = KNeighborsClassifier(n_neighbors=5)

In [24]:
model.fit(X_train_scaled,y_train )

KNeighborsClassifier()

In [25]:
predict = model.predict(X_test_scaled)

In [26]:
accuracy_score(y_test,predict)

0.49923289352562134