In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
partitioners_info_df = pd.read_csv('partitioners_info.csv')
partitioners_feeling_df = pd.read_csv('partitioners_feeling.csv')

In [3]:
partitioners_info_df.head()

,Id,Age,Gender,Sector,Working_same_sector,Specialization,Work_hours,Work_years_span,Patient_per_day,Overtime_work_interest,Overtime_work_paid
0,1,2,1,2,2,6,3,1,1,1,1
1,2,2,1,2,2,6,3,1,1,1,1
2,3,2,1,2,2,6,3,1,1,1,1
3,4,2,1,2,2,6,3,1,1,1,1
4,5,2,1,2,2,6,3,1,1,1,1

In [4]:
partitioners_feeling_df.head()

,Id,Stressed_during_work,Feeling_on_job,Source_of_stress,Handling_stress,Inform_Management_problems,Management_initiative_to_problems,Hospital_care_towards_stress,Stress_affecting_patient_care,Stress_affecting_concentration,...,Stress_due_to_too_many_duties,Stress_due_to_age,Stress_reason_family,Stress_due_to_competition,Prefer_to_stay_alone,Prefer_taking_responsibilities,Alcohol_usage,Stress_nervous_habits,Stress_makes_nervous,Stress_affects_emotions
0,1,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
1,2,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
2,3,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
3,4,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
4,5,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2

In [5]:
engine = create_engine('postgresql+psycopg2://postgres:Ehsan$2694@localhost/stress_detection')

In [6]:
partitioners_info_df.to_sql(name='partitioners_info', con=engine)

In [7]:
partitioners_feeling_df.to_sql(name='partitioners_feeling', con=engine)