In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data 2.csv')
df.head()

,Id,Age,Gender,Sector,Working_same_sector,Specialization,Work_hours,Work_years_span,Patient_per_day,Overtime_work_interest,...,Stress_due_to_too_many_duties,Stress_due_to_age,Stress_reason_family,Stress_due_to_competition,Prefer_to_stay_alone,Prefer_taking_responsibilities,Alcohol_usage,Stress_nervous_habits,Stress_makes_nervous,Stress_affects_emotions
0,1,2,1,2,2,6,3,1,1,1,...,1,1,2,1,1,1,1,1,1,2
1,2,2,1,2,2,6,3,1,1,1,...,1,1,2,1,1,1,1,1,1,2
2,3,2,1,2,2,6,3,1,1,1,...,1,1,2,1,1,1,1,1,1,2
3,4,2,1,2,2,6,3,1,1,1,...,1,1,2,1,1,1,1,1,1,2
4,5,2,1,2,2,6,3,1,1,1,...,1,1,2,1,1,1,1,1,1,2

In [15]:
partitioners_info_df = df.iloc[:, 0:11]
partitioners_info_df

,Id,Age,Gender,Sector,Working_same_sector,Specialization,Work_hours,Work_years_span,Patient_per_day,Overtime_work_interest,Overtime_work_paid
0,1,2,1,2,2,6,3,1,1,1,1
1,2,2,1,2,2,6,3,1,1,1,1
2,3,2,1,2,2,6,3,1,1,1,1
3,4,2,1,2,2,6,3,1,1,1,1
4,5,2,1,2,2,6,3,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,1,2,1,2,6,2,2,3,2,2
99996,99997,1,2,1,2,6,2,2,3,2,2
99997,99998,1,2,1,2,6,2,2,3,2,2
99998,99999,1,2,1,2,6,2,2,3,2,2
99999,100000,1,2,1,2,6,2,2,3,2,2

In [8]:
partitioners_info_df.columns.to_list()

['Id',
 'Age',
 'Gender',
 'Sector',
 'Working_same_sector',
 'Specialization',
 'Work_hours',
 'Work_years_span',
 'Patient_per_day',
 'Overtime_work_interest',
 'Overtime_work_paid']

In [13]:
cols =['Age',
 'Gender',
 'Sector',
 'Working_same_sector',
 'Specialization',
 'Work_hours',
 'Work_years_span',
 'Patient_per_day',
 'Overtime_work_interest',
 'Overtime_work_paid']

partitioners_feeling_df = df.drop(columns=cols)
partitioners_feeling_df

,Id,Stressed_during_work,Feeling_on_job,Source_of_stress,Handling_stress,Inform_Management_problems,Management_initiative_to_problems,Hospital_care_towards_stress,Stress_affecting_patient_care,Stress_affecting_concentration,...,Stress_due_to_too_many_duties,Stress_due_to_age,Stress_reason_family,Stress_due_to_competition,Prefer_to_stay_alone,Prefer_taking_responsibilities,Alcohol_usage,Stress_nervous_habits,Stress_makes_nervous,Stress_affects_emotions
0,1,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
1,2,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
2,3,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
3,4,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
4,5,1,2,3.0,2,1,2,2,2,2,...,1,1,2,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,2,2,3.0,3,1,1,2,1,1,...,1,1,2,2,1,1,4,4,1,1
99996,99997,2,2,3.0,3,1,1,2,1,1,...,1,1,2,2,1,1,4,4,1,1
99997,99998,2,2,3.0,3,1,1,2,1,1,...,1,1,2,2,1,1,4,4,1,1
99998,99999,2,2,3.0,3,1,1,2,1,1,...,1,1,2,2,1,1,4,4,1,1
99999,100000,2,2,3.0,3,1,1,2,1,1,...,1,1,2,2,1,1,4,4,1,1